<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <header>
    <nav class="navbar bg-lostark">
      <div class="container-fluid">
        <span class="fw-normal">
          <a href=".">
            <img src="images/logo.png" alt="logo" height="32">
          </a>
        </span>
      </div>
    </nav>
  </header>

  <div id="app">
    <div class="container">
      <div class="row flex-nowrap">
        <div class="col-auto px-0 sidebarlostark">

          <!-- Vue list -->
          <div class="sticky-top d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
            <div v-for="(item, index) in items" :key="index">
              <img :src="'images/' + index.replaceAll(' ', '') + '.png'" width="18" style="margin-top: -6px">
              <span class="px-2 fs-5">{{ index }}</span>

              <div v-for="n in 1" :key="n">
                <div v-for="k in n + 2" :key="k">
                  <ul class="nav flex-column">
                    <li class="nav-item" v-if="item[k - 1]">
                      <a :href="'#' + item[k - 1].link" class="nav-link text-white px-0">
                        <span style="margin-left: 28px">{{ item[k - 1].title }}</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="col py-3">

          <section class="text-center container">
            <div class="row pt-lg-3">
              <div>
                <p class="fw-light fs-1 text-white">{{ title }}</p>
                <img src="images/split.png" class="p-2" alt="split">
                <p class="lead">{{ subtitle }}</p>
              </div>
            </div>
          </section>

          <!-- Markdown file -->
          <div class="container">
            <div class="row">
              <div class="col">
                <div id="doc"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.33/vue.global.min.js"></script>

  <script>
    Vue.createApp({
      data() {
        return {
          documentTitle: 'Lost Ark - Guide des boss',
          title: 'Guide des boss',
          subtitle: 'Mon mémo des boss',
          items: []
        }
      },
      mounted() {
        document.title = this.documentTitle

        fetch('data.json')
          .then(response => response.json())
          .then(data => {
            this.items = data.items
          });

        fetch('README.md')
          .then(response => response.text())
          .then(data => {

            /* Markdown converter */
            var converter = new showdown.Converter();
            document.getElementById("doc").innerHTML = converter.makeHtml(data);

            document.getElementsByTagName("h1")[0].style.display = "none";
            document.getElementsByTagName("h6")[0].style.display = "none";

            /* Background image for <h4> */
            items = document.getElementsByTagName('h4')
            for (var i = 0; i < items.length; i++) {
              let id = items[i].id.innerHTML = items[i].id
              document.getElementById(id).style.background = 'url(' + 'images/boss/' + id + '.jpg' + ')';
            }

          });
      }
    }).mount('#app')
  </script>

</body>

</html>