:root {
  --bg-lostark: #141312;
}

html,
body {
  background: url(images/smoke.jpg) #000 right no-repeat fixed !important;
  color: #FFF;
}

.sidebarlostark {
  margin-top: 40px;
}

.bg-lostark {
  background-color: var(--bg-lostark) !important;
}

h2 {
  margin-top: 100px;
  border-bottom: 2px #bda151 outset;
}

h4 {
  margin-top: 40px;
  text-shadow: black 0.1em 0.1em 0.1em;
  padding: 30px;
  width: 614px;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 20%, transparent 100%);
  border-radius: 6px;
}